body { 
    font-family:"Roboto", sans-serif;
    color: #434455;
background-color: #FFF;
letter-spacing: 0.02em
}

ul{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p {
margin top: 0;
margin-bottom:0;
}

ul{
    margin top: 0;
    margin-bottom:0;
    padding-left: auto;:0;
    list-style:none;
}


.img {
    display: block 
    
    }
    
    .container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    display: flex;
    }
    
    .header{
        border-bottom: 1px solid #e7e9fc
    }
    

.nav-menu{
    display: flex;
    align-items: center;
}


.nav-menu-list{
    display: flex;
    gap: 40px
    padding: 24px 0;
}

.nav-menu-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-menu-span{
    color: #2E2F42;
    

}
.nav-menu-logo:hover,.nav-menu-logo:focus {
color: #404BBF;
margin-right: 76px;
} 
.nav-menu-item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-menu-item:hover,.nav-menu-item:focus {
    color: #404bbf;
    } 


.contacts {
    font-style: normal;
    padding: 24px 0;
}

.list-address{
    display: flex;
    gap: 40px;
    margin-right: 40px;
    margin-right: 0;
}

.contacts-item {
    color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
text-decoration: none;
}
.contacts-item:hover,.contacts-item:focus {
    color: #404bbf; 
}
.section-main {
    background-color: #2E2F42;
}

.main-title{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.button{
background-color: #4D5AE5;
cursor: pointer;
color: #FFF;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}
.button:hover, .button:focus{
    background-color: #404bbf; 
}
.description-title{
    color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;

}
.description-text{
    color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.section-team{
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #F4F4FD;
}
.team-title{
    color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team-list{
    background-color: #FFF;
}
.team-subtitle{
    color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height:1.2;
letter-spacing: 0.02em;
}
.team-text{
    color: #434455;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.portfolio{
    background-color: #FFF;
}
.portfolio-title{
    color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-subtitle{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height:1.2;
    letter-spacing: 0.02em;
}
.portfolio-text{
    color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height:1.5;
letter-spacing: 0.02em;
}
.footer{
    background-color:#2E2F42;
}
.nav-menu-logo-footer{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.lower-section{
    background-color: #2E2F42;

}
.lower-logo-span{
    color: #f4f4fd;
}
.footer-text{
    color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height:1.5;
letter-spacing: 0.02em;
}





/* ================================================================*/